/* .login-form-modal {
    padding: 50px;
}

.login-form-modal h1 {
    text-align: center;
    margin-bottom: 20px;
}

.login-form-modal form {
    max-width: 400px;
    margin: 0 auto;
}

.login-form-modal ul {
    list-style: none;
    padding: 0;
    margin-bottom: 10px;
    color: red;
}

.login-form-modal label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.login-form-modal input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-form-modal button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-form-modal button:hover {
    background-color: #0056b3;
} */