.account-outer-container {
    max-width: 1625px;
    margin: 0 auto;
    padding: 50px;
}

.account-outer-container h2 {
    font-size: 24px;
    letter-spacing: 0.05rem;
    color: #003E6B;
}

.account-page-container {
    display: flex;
    flex-direction: row;
}

.user-info-section {
    background-color: #DCEEFB;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    height: fit-content;
    padding: 30px;
    position: sticky;
    top: 100px;
    width: 25%;
    border: 2px solid grey;
    box-shadow: inset 0 6px 2px hsla(0, 0%, 0%, 0.1);
}

.user-info-section h2 {
    font-size: 24px;
    color: #102A43;
    margin-bottom: 5px;
}

.user-info-section h3 {
    color: #243B53;
}

.users-bio p {
    text-align: left;
    color: #243B53;
}

.user-info-section p {
    font-size: 14px;
    color: #243B53;
    word-break: break-all;
}

.section-title,
.info-item {
    margin: 0;
}


.user-info-section .carousel {
    width: 150px;
    height: auto;
    /* border-radius: 50%; */
}

.users-content-account {
    display: flex;
    flex-direction: column;
    width: 85%;
    padding: 20px;
}


.carousel {
    margin: auto;
}

.profile-picture-container img {
    /* height: 300px;
    width: fit-content; */
    width: 200px;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
}

.thumb {
    height: 1px;
    width: 1px;
}


/* Groups */

.user-groups-container {
    padding: 0 20px 20px;
    background-color: azure;
    /* box-shadow: inset 0 2px 2px hsla(0, 0%, 0%, 0.1); */
    border: 1px solid rgb(233, 233, 233);
}

.user-groups-container h3 {
    color: #102A43;
    font-size: 16px;
    
}

.users-groups-boxes {
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    gap: 20px;
    align-items: flex-start;
}

.user-group-box {
    border: 1px solid #ccc;
    padding: 10px;
    width: 20%;
    height: fit-content;
    box-shadow: inset 0 2px 2px hsla(0, 0%, 0%, 0.1);

}

.user-group-link {
    text-decoration: none;
    color: #1d52ff;
}

.user-group-image img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.user-group-details {
    margin-top: 10px;
}

.user-group-details p {
    font-weight: 700;
    color: #334E68;
}


.user-group-name {
    font-weight: bold;
}

.user-group-description {
    color: #555;
}

.account-create-group-modal {
    list-style: none;
    padding: 10px;
}

.new-group-section h1 {
    color: #102A43;
}

.account-create-group-modal button {
    color: white;
    background-color: #2f97ff;
}

.account-create-group-modal button:hover {
    background-color: #154d91;
}

/* .user-groups-container {
    margin-top: 20px;
}

h3 {
    font-size: 1.5rem;
}

.user-group-box {
    width: 250px;
    margin: 0 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.user-group-link {
    display: block;
    text-decoration: none;
    color: #333;
}

.user-group-image img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.user-group-details {
    padding: 10px;
}

.user-group-name {
    font-weight: bold;
    font-size: 1.2rem;
}

.user-group-description {
    margin-top: 8px;
    font-size: 0.9rem;
}

.new-group-section {
    margin-top: 20px;
    text-align: center;
    list-style: none;
} */