.profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
}

.nav-wrap {
  background-color: #B6E0FE;
  color: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

header {
  padding: 1rem 2rem;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* gap: 100%; */
}

.TitleHeader {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: #003E6B;
}

.header-right-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 20%;
}

.nav-links li {
  margin-right: 1rem;
}

.nav-links a {
  text-decoration: none;
  color: #186FAF;

}

.navButton {
  list-style: none;
}

.navButton button{
  background-color: #186FAF;
  color: white;
}

/* Profile Buttons */
.profile-dropdown {
  list-style: none;
  background-color: rgb(255, 255, 255);
  color: #333;
  margin-top: 1rem;
  right: 30px;
  text-align: left;
  position: absolute;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px 0;
  min-width: 150px;

}

/* .profile-dropdown li {
} */
.profile-dropdown .active-link {
  text-decoration: none;
  color: white;
}


.profile-dropdown button {
  text-decoration: none;
  padding: 10px 20px;
  font-size: 14px;
  color: #333333;
  transition: background-color 0.3s, color 0.3s;
  border: none;
  background-color: #F7D070;
  padding: 8px 12px;
  width: 100%;
  text-align: left;
  border-radius: 0%;
}

.profile-dropdown button:hover {
  background-color: #E9B949;
  color: #333;
}