.manage-container-group {
    width: 300px;
    padding: 20px;
    border: 2px solid grey;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.manage-container-group button {
    margin: 10px;
    color: white;
}

#delete-group button {
    background-color: red;
}

#delete-group button:hover {
    background-color: #b5bac1;
    color: rgb(163, 40, 40);
}

#update-group button {
    background-color: #a7dcff;
}

#update-group button:hover {
    background-color: rgb(167, 220, 255);
    color: black;
}