.manage-container-group {
    width: 300px;
    padding: 20px;
    border: 2px solid grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: inset 0 10px 2px hsla(0, 0%, 0%, 0.1);
}

.manage-container-group button {
    margin: 10px;
}

.manage-buttons-format {
    display: flex;
    flex-direction: row;
}

.update-button button {
    background-color: #2680C2;
    color: white;
}

.update-button button:hover {
    background-color: #0F609B;
}

.delete-button button {
    background-color: #A61B1B;
    color: white;
}

.delete-button button:hover {
    background-color: #780A0A;
}